<div class="home-wrapper">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>URL Shortener</mat-card-title>
      <mat-card-subtitle> Edit your URL entities</mat-card-subtitle>
    </mat-card-header>

    <mat-form-field appearance="fill" class="small-select">
      <mat-label>Select an option</mat-label>
      <mat-select (selectionChange)="changeId($event.value)">
        <mat-option *ngFor="let item of entities" [value]="item.id">
          {{ item.shortUrl }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    @if (selectedEntityId) {
      <div>
        <div class="clicksInfo" *ngFor="let click of entitiesClicks">
          <strong>User Agent:</strong> {{ click.userAgent }} <br />
          <strong>IP:</strong> {{ click.ipAddress }} <br />
          <strong>Clicked At:</strong> {{ click.clickedAt | date: 'short' }}
        </div>
      </div>
    }
  </mat-card>
</div>
