// @use '@angular/material' as mat;

// $theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary: mat.$indigo-palette,
//     tertiary: mat.$blue-palette,
//   ),
// ));

// @include mat.all-component-themes($theme);
