.home-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.home-card {
  width: 100%;
  max-width: 500px;
}

.full-width {
  width: 100%;
}

mat-card-header {
  margin-bottom: 20px;
}
mat-card-title {
  margin-bottom: 20px;
}
